meta(charset="utf-8")
meta(name="X-UA-Compatible", content="IE=edge")
meta(name="author", content= theme.author)
title
    block site_title
        = config.title
block description
    meta(name="description", content= config.description ? config.description : 'A Blog Powered By Hexo')

if page.keywords
    meta(name="keywords", content= page.keywords)
else
    meta(name="keywords" content= config.keywords ? config.keywords : theme.keywords ? theme.keywords : "")

meta(content="width=device-width,initial-scale=1,viewport-fit=cover",name="viewport")
meta(content="yes",name="apple-mobile-web-app-capable")
meta(content="black",name="apple-mobile-web-app-status-bar-style")
meta(content="telephone=no",name="format-detection")

meta(name="renderer",content="webkit")
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="manifest" href="/images/site.webmanifest">
<link rel="shortcut icon" href="/images/favicon.svg">
<meta name="msapplication-config" content="/images/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
link(rel="stylesheet", href= url_for('//cdn.staticfile.org/twitter-bootstrap/3.4.1/css/bootstrap.min.css'))
link(rel="stylesheet ", href= url_for('//cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css'))
if theme.highlightjs
    link(rel="stylesheet", href= url_for('//cdn.staticfile.org/highlight.js/11.7.0/styles/base16/tomorrow.min.css'))
//- link(rel="stylesheet", href= url_for('css/typography-custom-font.css'))
if theme.themeStyle == "light"
    link(rel="stylesheet", href= url_for('css/style.css'))
if theme.themeStyle == "dark"
    link(rel="stylesheet", href= url_for('css/style-dark.css'))
link(rel="alternate" type="application/atom+xml" title="ATOM 1.0" href="/atom.xml")
